<a href="<%= back_to_index_path %>" data-remote="true"><img src="/app/assets/images/left-arrow-mono.svg" alt="sync" style="width: 20px;" onmouseover="this.src='/app/assets/images/left-arrow.svg'" onmouseout="this.src='/app/assets/images/left-arrow-mono.svg'" class="mb-2 mr-3"></a>
ゴミ箱