<nav class="navbar shadow-sm">
 
  <%= link_to user_path(@micropost.user_id), target: "_blank" do %>
    <%= image_tag "left-arrow.svg", id: "back-button", class: "ml-2" %>
  <% end %>
  
  <span class="navbar-brand float-left">Note</span>
  
  <%= link_to @micropost, method: :delete, data: {confirm: "メモを削除します。よろしいですか？"}, target: "_blank" do %>
  <%= image_tag "garbage.svg", id: "back-button", class: "mr-2" %>
  <% end %>
  
</nav>
