<div class="sidebar-sticky bg-light pl-3 pr-3">
  <ul class="nav flex-column text-center">
<!--
    <li class="nav-item">
      <a href="<%= back_to_index_path %>" data-remote="true">
        top
      </a>
    </li>
-->
    <li class="nav-item mt-5 mb-3">
      <a href="<%= new_micropost_path %>" data-remote="true">
        <img src="/app/assets/images/create.svg" alt="sync" style="width: 40px; padding: 8px; border-radius: 40px;" class="create-icon" onmouseover="this.src='/app/assets/images/create-hover.svg'" onmouseout="this.src='/app/assets/images/create.svg'" data-toggle="tooltip" data-placement="right" title="新規作成">
      </a>
    </li>
<!--
    <li class="nav-item mb-3">
      <a href="<%#= sync_microposts_path %>" data-remote="true">
        <img src="/app/assets/images/sync.svg" alt="sync" style="width: 40px; border-radius: 40px; padding: 7px;" class="nav-icon" onmouseover="this.src='/app/assets/images/sync-hover.svg'" onmouseout="this.src='/app/assets/images/sync.svg'" data-toggle="tooltip" data-placement="right" title="同期">
      </a>
    </li>
-->
    <li class="nav-item mb-3">
      <a href="<%= trash_micropost_path(@user) %>" data-method="get">
        <img src="/app/assets/images/garbage-nav.svg" alt="sync" style="width: 40px; padding: 4px; border-radius: 40px;" class="nav-icon" onmouseover="this.src='/app/assets/images/garbage-hover.svg'" onmouseout="this.src='/app/assets/images/garbage-nav.svg'" data-toggle="tooltip" data-placement="right" title="ゴミ箱">
      </a>

    </li>
    <li class="nav-item">
      <a href="<%= logout_path %>" data-method="delete">
        <img src="/app/assets/images/logout.svg" alt="sync" style="width: 40px; padding: 4px; border-radius: 40px;" class="nav-icon" onmouseover="this.src='/app/assets/images/logout-hover.svg'" onmouseout="this.src='/app/assets/images/logout.svg'" data-toggle="tooltip" data-placement="right" title="ログアウト">
      </a>
    </li>
  </ul>
</div>