<header class="navbar shadow-sm">
  <span class="navbar-brand" style="font-family: 'Comfortaa', cursive;">
    A-note
  </span>
  <%= link_to "ログイン", login_path, class: "btn btn-outline-primary" %>
</header>